/application/vendor/
/application/*.json
/application/config/development/
/application/sessions/
/application/logs/
/application/cache/
/assets/
/vendor/
*.tmp
*.log
*.sublime-project
*.sublime-workspace
*.bat