<nav class="navbar navbar-expand-md flex-fill py-0 pr-0">
    <ul class="navbar-nav flex-row pr-2">
        <li class="nav-item d-md-flex d-lg-none">
            <a class="nav-link nav-icon" href="#" data-toggle="aside"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-sm-flex d-lg-none">
            <span class="navbar-text">Dashboard</span>
        </li>
    </ul>
    
        
    </form>
    <ul class="navbar-nav ml-auto flex-row px-2">
        <li class="nav-item nav-icon dropdown d-block d-md-none">
            <a class="nav-link nav-icon" href="#"><i class="fas fa-search"></i></a>
        </li>
        <li class="nav-item">
            <form class="top-nav-search d-none d-md-flex">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-append">
                        <div class="input-group-text"><i class="fas fa-search"></i></div>
                    </div>
                </div>
            </form>
        </li>
        <li class="nav-item nav-icon dropdown has-notified">
            <a class="nav-link nav-icon" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bell"></i></a>
            <div class="dropdown-menu dropdown-menu-rich dropdown-menu-right pt-0">
                <h6 class="dropdown-header">Alert <a href="#">Mark all as read</a></h6>

                <div class="dropdown-scroll">
                    <a class="dropdown-item unread" href="#">
                        <img class="user-avatar" src="dist/images/michiru.png"/>
                        <div class="dropdown-item-body">
                            <p class="text">Michiru Kunishima is assigned to retrieve giftia</p>
                            <span class="date">Today, 11.50 AM</span>
                        </div>
                    </a>
                    <a class="dropdown-item" href="#">
                        <img class="user-avatar" src="dist/images/isla.png"/>
                        <div class="dropdown-item-body">
                            <p class="text">Isla has been retrieved giftia Nina</p>
                            <span class="date">Yesterday, 02.55 PM</span>
                        </div>
                    </a>
                    <a class="dropdown-item" href="#">
                        <img class="user-avatar" src="dist/images/isla.png"/>
                        <div class="dropdown-item-body">
                            <p class="text">Isla has been retrieved giftia Nina</p>
                            <span class="date">Yesterday, 02.55 PM</span>
                        </div>
                    </a>
                    <a class="dropdown-item" href="#">
                        <img class="user-avatar" src="dist/images/isla.png"/>
                        <div class="dropdown-item-body">
                            <p class="text">Isla has been retrieved giftia Nina</p>
                            <span class="date">Yesterday, 02.55 PM</span>
                        </div>
                    </a>
                    <a class="dropdown-item" href="#">
                        <img class="user-avatar" src="dist/images/isla.png"/>
                        <div class="dropdown-item-body">
                            <p class="text">Isla has been retrieved giftia Nina</p>
                            <span class="date">Yesterday, 02.55 PM</span>
                        </div>
                    </a>
                </div>
                <a class="dropdown-footer" href="#">Show All</a>
            </div>
        </li>

        <li class="nav-item dropdown has-notified">
            <a class="nav-link nav-icon" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-envelope"></i></a>
            <div class="dropdown-menu dropdown-menu-rich dropdown-menu-right pt-0">
                <h6 class="dropdown-header">Messages <a href="#">Mark all as read</a></h6>

                <div class="dropdown-scroll">
                    <a class="dropdown-item unread" href="#">
                        <img class="user-avatar" src="dist/images/michiru.png"/>
                        <div class="dropdown-item-body">
                            <p class="subject">Michiru Kunishima</p>
                            <p class="text">Invitation Party</p>
                            <span class="date">A minutes ago</span>
                        </div>
                    </a>
                    <a class="dropdown-item" href="#">
                        <img class="user-avatar" src="dist/images/tsukasa.png"/>
                        <div class="dropdown-item-body">
                            <p class="subject">Tsukasa Mizugaki</p>
                            <p class="text">Retrieval report</p>
                            <span class="date">An hour ago</span>
                        </div>
                    </a>
                    <a class="dropdown-item" href="#">
                        <img class="user-avatar" src="dist/images/eru.png"/>
                        <div class="dropdown-item-body">
                            <p class="subject">Eru</p>
                            <p class="text">Islacchi, please accept my gifts ! ;;-;;</p>
                            <span class="date">Yesterday</span>
                        </div>
                    </a>
                    <a class="dropdown-item" href="#">
                        <img class="user-avatar" src="dist/images/michiru.png"/>
                        <div class="dropdown-item-body">
                            <p class="subject">Michiru Kunishima</p>
                            <p class="text">Mirai zuraaaaa !!!!</p>
                            <span class="date">A week ago</span>
                        </div>
                    </a>
                </div>
                <a class="dropdown-footer" href="#">Show All</a>
            </div>
        </li>
    </ul>
    <!--<div class="dropdown">
        <button class="btn-account d-md-flex" id="btn-account" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="user-avatar">
                <img class="rounded-circle" src="dist/images/isla.png">
            </span>
            <span class="account-summary pr-lg-4 d-none d-lg-block">
                <span class="account-name">Isla</span>
                <span class="account-description">Terminal Service Marksman</span>
            </span>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#">
                <i class="dropdown-icon fas fa-user"></i>
                Profile
            </a>
            <a class="dropdown-item" href="#">
                <i class="dropdown-icon fas fa-sign-out-alt"></i>
                Signout
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Help</a>
            <a class="dropdown-item" href="#">Ask</a>
        </div>
    </div>-->
</nav>